#menu-left{
	height: 81.6%;
	width: 20%;
	background-color: #CFCFCF;
	top: 8%;
	left: 0;
	position: absolute;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #D1D1D1;
	box-shadow:  0px 2px 5px #757575;
	z-index: -1;
}

.contain{
	height: 81.6%;
	width: 80%;
	right: 0;
	top: 8%;
	background-color: black;
	position: absolute;
	z-index: -2;
}

h3{
	text-shadow: 1px 1px GRAY;
}

span.glyphicon-road {
    font-size: 1.5em;
}

.footer{
	height: 10%;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: GRAY;
	position: absolute;
    border-top-style: solid;
    border-top-color: #D1D1D1;
    box-shadow: 0px -2px 5px #757575;
    z-index: -3;
}

.footer p{
	margin-top: 10px;
}


#map{
	position: absolute;
	height: 100%;
	width: 100%;
}

.instrucoes{
	border-style: dashed;
	border-color: black;
	border-width: 1px;
	margin-left: 5%;
	width: 80%;
	height: 30%;
	overflow: scroll;
}

@media only screen and (min-width: 150px) and (max-width: 750px){
	
	small{
		display: none;
	}
	
	.contain{
		height: 55%;
		width: 100%;
		right: 0;
		left: 0;
		top: 45%;
		background-color: black;
		position: absolute;
	}
	
	.form-group{
		margin-top: -50px;
	}
	
	#menu-left{
		height: 45%;
		width: 100%;
		background-color: #CFCFCF;
		top: 8.2%;
		padding-bottom: 60px;
		position: absolute;
		border-right-style: solid;
		border-right-width: 5px;
		border-right-color: #D1D1D1;
		box-shadow:  0px 2px 5px #757575;
	}
	
	.instrucoes{
		width: 90%;
		height: 40%;
	}

	.footer{
		display: none;
	}	
}