#header{
	width: 100%;
	height: 15%;
	background-color: #D19147;
	position: absolute;
	left: 0;
	top:0;
    border-bottom-style: solid;
    border-bottom-color: #D1D1D1;
    box-shadow: 0px 2px 5px #757575;
	z-index: 50;
}

#menu-left{
	height: 75%;
	width: 20%;
	background-color: #CFCFCF;
	top:15%;
	left:0px;
	position: absolute;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #D1D1D1;
	box-shadow:  0px 2px 5px #757575;
	z-index: 48;
}

#contain{
	height: 75%;
	width: 80%;
	right: 0;
	top: 15%;
	background-color: black;
	position: absolute;
}

#footer{
	height: 10%;
	width: 100%;
	bottom: 0;
	left:0;
	background-color: #496E99;
	position: absolute;
    border-top-style: solid;
    border-top-color: #D1D1D1;
    box-shadow: 0px -2px 5px #757575;
    z-index: 49;
}

#map{
	position:absolute;
	height: 100%;
	width: 100%;
}

.formul{
	padding-left: 50px;
}